#order {
   border-collapse: collapse;
}

#order th {
  background-color: red;
  color: white;
}

#order th,#order td{
 border:1px solid #000;
}

.payButtons{
  position: absolute;
  display: inline-block;
}

#cancel {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 4px;
}

#placeOrder {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 4px;
}

#swipeButton {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0 auto;
  border-radius: 4px;
}

#flexButton {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0 auto;
  border-radius: 4px;
}

#restartPay {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0 auto;
  border-radius: 4px;
}

.floating {
  float: left;
  width: 10%;
}
